@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
    font-family: 'Lato', sans-serif;
}

body {
    
}



body:after {
    display: block;
    content: ' ';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,af7658+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(175,118,88,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(175,118,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(175,118,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#af7658',GradientType=0 ); /* IE6-9 */
}

* {
    box-sizing: border-box;
}



.container {
    position: relative; 
    max-width: 1000px;
    margin: 0 auto;
}

.container > aside {
    
    position: absolute;
    top: 0;
    right: -220px;
    width: 200px;
    height: 100px;
    /*
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);*/
    padding: 20px;
    background-color: #E6C797;
}

aside > header {
    font-family: sofia;
    font-size: 20px;
}

#caption {
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    z-index: 1;
    
}

#caption > header {
    background-color: #80C74A;
    height: 120px;
    padding: 20px 0;
}

#caption > nav {
    background-color: #6AAF37;
    height: 50px;
}

#caption > nav a {
    display: inline-block;
    color: #ACF376;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    margin: 0 20px;
}


#caption > nav a.active {
    color: yellow;
}

.group {
    margin: 30px 0;
    background-color: white;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.group:after {
    display: block;
    content: ' ';
    clear: both;
}

.group > header {
    font-family: 'sofia';
    font-size: 30px;
}

.group article {
    width: 200px;
    float: left;
    
}


article .image {
    width: 200px;
    height: 140px;
    background-size: contain;
    background-position: center;
}

.curled {
    
    border-radius: 0 0 120px / 0 0 6px 0;
    
    position: relative;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    /*background-color: #fafafa;
    border: 1px solid #fafafa;*/
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    /*,0 0 40px rgba(128,128,128,.1)inset;*/
}
